<div class="primary-content menu">
  <h1 style="text-align: center">{{menu.type}}</h1>
  <h2 style="text-align: center; font-size: 30px;" id="sub">{{menu.sub}}</h2>
  <div class="row">
    <div class="col-md-6">
      <div ng-repeat="section in cols.one">
        <h3 style="text-align: left">{{section.title}}</h3>
        <p style="margin-left: 5%" ng-repeat="item in section.items">{{item.title}}<span ng-if="item.alc > 0"> ({{item.alc}}%)</span></p>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-repeat="section in cols.two">
        <h3 style="text-align: left">{{section.title}}</h3>
        <p style="margin-left: 5%" ng-repeat="item in section.items">{{item.title}}<span ng-if="item.alc > 0"> ({{item.alc}}%)</span></p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="menutype == 'bottles'">
    <h1 style="text-align: center">Craft &amp Specialties</h1>
    <div class="col-md-6">
      <div ng-repeat="section in cols.three">
        <h3 style="text-align: left">{{section.title}}</h3>
        <p style="margin-left: 5%" ng-repeat="item in section.items">{{item.title}}<span ng-if="item.alc > 0"> ({{item.alc}}%)</span></p>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-repeat="section in cols.four">
        <h3 style="text-align: left">{{section.title}}</h3>
        <p style="margin-left: 5%" ng-repeat="item in section.items">{{item.title}}<span ng-if="item.alc > 0"> ({{item.alc}}%)</span></p>
      </div>
    </div>
  </div>
  <div ng-if="menutype == 'bottles'">
    <p>*Gluten Free</p>
    <p>Please drink responsibly - alcohol by volume % included above in parenthesis</p>
  </div>
</div>
