<div style="padding: 40px 20px" class="primary-content">
  <div class="alert alert-danger" role="alert"><h4>Important! Unfortunately, this contact page was experiencing an issue over the last few days and wasn't correctly delivering messages. If you sent a message to us after 12/27/16, we encourage you to send it again in order to ensure we receive it. Thanks.</h4></div>
  <h2 ng-if="message" style="text-align: center; padding: 40px 0;">{{message}}</h2>
  <form name="contact-form" id="contact-form" ng-submit="submit()" ng-if="!message">
    <h1 style="text-align: center">Questions? Comments? Concerns?</h1>
    <div class="form-group"></div>
    <label for="name">Name</label>
    <input ng-model="formData.name" name="name" value="" type="text" id="name" required="required" class="form-control"/>
    <div class="form-group"></div>
    <label for="email">Email Address</label>
    <input ng-model="formData.email" name="email" type="email" id="email" required="required" class="form-control"/>
    <div class="form-group"></div>
    <label for="phnum">Phone Number</label>
    <input ng-model="formData.phnum" name="phnum" type="tel" id="phnum" placeholder="Ex: (847) 720-4466" class="form-control"/>
    <div class="form-group"></div>
    <label for="subj">Subject</label>
    <input ng-model="formData.subject" name="subject" type="text" id="subject" required="required" class="form-control"/>
    <div class="form-group"></div>
    <label for="message">Message</label>
    <textarea ng-model="formData.message" name="message" id="message" required="required" class="form-control"></textarea>
    <button name="submit" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
