<div class="overlay" ng-click="toggleEventUpload()"></div>
<div id="eventModal">
  <div id="eventBody">
    <h1 ng-if="evMessage">{{evMessage}}</h1>
    <form ng-if="!evMessage" ng-submit="uploadEvent()">
      <h1 style="color: #fff">{{mode == "new" ? "New Event" : "Edit Event"}}</h1>
      <input ng-model="eventData.title" class="form-control" type="text" placeholder="title"/>
      <input ng-model="eventData.description" class="form-control" type="text" placeholder="description"/>
      <input ng-model="eventData.start" class="form-control" type="datetime-local"/>
      <input ng-model="eventData.end" class="form-control" type="datetime-local"/>
      <input ng-model="eventData.url" class="form-control" type="text" placeholder="link"/>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" style="padding-top: 10px; padding-bottom: 10px; background-color:#eee" type="button" ng-click="linkDrivePhoto()">Format Link (Drive, Dropbox)</button>
        </span>
        <input ng-model="eventData.img" class="form-control" type="text" placeholder="image url"/>
      </div>
      <label class="checkbox-inline"><input ng-model="eventData.featured" class="" type="checkbox"/><span>Featured</span></label>
      <button class="btn btn-primary btn-dash">Upload</button>
    </form>
  </div>
</div>
<button id="logout" class="btn btn-primary" style="position: absolute; top: 50px; right: 100px;" ng-click="logout()">Logout</button>
<section id="events" ng-if="loggedIn">
  <h1 ng-click="collapseEvs()" style="cursor: pointer">Events<span class="dropdown"><span class="caret"></span></span></h1>
  <select ng-model="eventOrder">
    <option value="title">Title</option>
    <option value="description">Description</option>
    <option value="start" selected>Date</option>
    <option value="featured">Featured</option>
  </select>
  <label for="reversed" style="margin-left: 20px">Reverse</label>
  <input type="checkbox" style="margin-left: 10px" ng-model="reversed" id="reversed"/>
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Link</th>
      <th>Image</th>
      <th>Featured</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr ng-repeat="event in events | orderBy:eventOrder:reversed" class="collapsable-ev hide">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>{{event.start | dateInMillis | date:'medium'}}</td>
        <td>{{event.end | dateInMillis | date:'medium'}}</td>
        <td>{{event.url}}</td>
        <td>{{event.img}}</td>
        <td><input type="checkbox" ng-init="event.selected = event.featured" ng-model="event.selected" ng-click="updateFeatured(event)"></td>
        <td><button class="btn btn-primary" ng-click="editEvent(event._id)">Edit</button></td>
        <td><button class="btn btn-danger" ng-click="deleteEvent(event._id)">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><button ng-click="toggleEventUpload()">Add new event</button></td>
      </tr>
    </tfoot>
  </table>
</section>
