<div class="overlay" ng-click="clearImageData()"></div>
<div class="imageEditModal">
  <div class="imgSearch">
    <input type="text" placeholder="type in url here" ng-model="imageEditData.current"/>
    <button class="btn btn-primary" ng-click="updatePreview()">Preview</button>
    <button class="btn btn-success" ng-click="updateImage()">Apply</button>
  </div>

  <div id="previewContainer">
    <div id="previewWindow"></div>
  </div>
</div>
<section id="events" ng-if="userData.isLoggedIn">
  <h1>Events</h1>
  <select ng-model="eventData.order">
    <option value="title:false">Title</option>
    <option value="description:false">Description</option>
    <option value="start:true" selected>Date (newest to oldest)</option>
    <option value="start:false">Date (oldest to newest)</option>
    <option value="featured:false">Featured</option>
  </select>
  <a ng-click="addEvent()" ng-if="userData.user.admin" style="cursor: pointer;">Add new event</a>

  <div id="admin-container" ng-init="pageData.cardLimit = 10">
    <div class="event-card" ng-repeat="event in events | orderBy:detEvOrder():detEvDir() | limitTo: pageData.cardLimit">
      <div class="event-fav" ng-if="userData.user.admin" id="fav-{{event._id}}" data-checked="{{event.featured}}" ng-click="updateFeatured(event)"></div>
      <div class="event-edit" ng-if="userData.user.admin" id="edit-{{event._id}}" data-status="saved" ng-click="editEvent(event)"></div>
      <div class="event-delete" ng-if="userData.user.admin" ng-click="deleteEvent(event)"></div>
      <div class="event-dup" ng-if="userData.user.admin" ng-click="duplicateEvent(event)"></div>
      <div class="event-img" style="background-image: url('{{event.img}}')" ng-mouseover="enableImgEdit(event)" ng-mouseleave="disableImgEdit(event)">
        <div class="event-img-overlay" ng-click="editImage(event)" ng-if="event.editImg" id="overlay-{{event._id}}"><img src="/img/icons/update-image.svg"/></div>
      </div>
      <div class="event-info" ng-show="event.status != 'edited'">
        <h5>{{event.title}}</h5>
        <p><a href="{{event.url}}" target="_blank">{{event.url}}</a></p>
        <p>{{event.description}}</p>
        <p><b>Start: </b>{{event.start | dateInMillis | date:'medium'}}</p>
        <p><b>End: </b>{{event.end | dateInMillis | date:'medium'}}</p>
      </div>
      <div class="event-edit-info" ng-show="event.status == 'edited'">
        <input type="text" ng-model="event.title" class="title-edit"/>
        <input type="text" ng-model="event.url" class="url-edit"/>
        <input type="text" ng-model="event.description" class="description-edit"/>
        <input type="datetime-local" id="start-edit-{{event._id}}" class="time-edit"/>
        <input type="datetime-local" id="end-edit-{{event._id}}" class="time-edit"/>
      </div>
    </div>
    <p class="show-more" ng-if="pageData.cardLimit <= events.length" ng-click="pageData.cardLimit = pageData.cardLimit + 10">Show more...</p>
  </div>
</section>
