<div>
  <div class="row start">
    <div class="launch-content col-md-7 col-md-offset-1">
      <div class="row nmt">
        <div class="postcards col-md-3">
          <h1 style="font-family:Classic Roman;color: #fff;" class="sae"><span class="sae1">Events</span><span class="sae2">And</span><span style="display:block; line-height:30px; color: #fff" class="sae3">Specials</span></h1>
          <a href="/img/postcards/postcard_taptakeover.JPG" style="height: 120px; overflow:hidden;" data-lightbox="postcards"><img src="/img/postcards/postcard_taptakeover.JPG" /></a>
          <a href="/img/postcards/postcard1.jpg" data-lightbox="postcards"><img src="/img/postcards/postcard1.jpg" /></a>
        </div>
        <div class="col-md-9 mainslidercol">
          <div id="homepage-carousel" data-wrap="true" class="carousel slide mainslider">
            <!--Indicators-->
            <!-- <ol class="carousel-indicators">
              <li data-target="#homepage-carousel" data-slide-to="0"></li>
              <li data-target="#homepage-carousel" data-slide-to="1"></li>
              <li data-target="#homepage-carousel" data-slide-to="2"></li>
            </ol> -->
            <!--Wrapper for slides-->
            <div class="carousel-inner">
              <div class="item active"><img src="/img/op/taps.jpg" id="bar-draft"/>
                <div class="carousel-caption"></div>
              </div>
            </div>
            <!--Controls--><a href="#homepage-carousel" role="button" data-slide="prev" class="carousel-control left"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#homepage-carousel" role="button" data-slide="next" class="carousel-control right"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>
        <div class="row home-routers">
          <div class="hr-wrap">
            <div class="col-md-4">
              <a href="dinner">
                <div class="home-router">
                  <img src="/img/op/shepardspie-min.jpg">
                  <h1>food</h1>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="draft">
                <div class="home-router">
                  <img src="/img/drinks-min.jpg">
                  <h1>drinks</h1>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="events">
                <div class="home-router">
                  <img src="/img/op/events.jpg">
                  <h1>events</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="oo-btn">
        <span class="glf-button" data-glf-cuid="54184d32-b385-4993-8d7b-56408285995c" data-glf-ruid="2b4ec7ef-f180-4125-913a-76bd1658ea24" data-glf-auto-open="false">Order Online</span>
      </div>
      <div class="ro-btn">
        <a href="https://www.yelp.com/reservations/the-harp-and-fiddle-park-ridge?from_reserve_now=1" target="_blank">Reservations</a>
      </div>
      <div class="panel panel-default specials">
        <div class="panel-heading">Today's Specials</div>
        <ul class="list-group">
          <li class="list-group-item" ng-if="!welcome.specials"><img src="/img/ellipsis.svg" style="display: block; width: 20%; margin: 0 auto;"/></li>
          <li class="list-group-item" ng-repeat="special in welcome.specials">{{special.title}}</li>
        </ul>
      </div>
      <div class="panel panel-default events">
        <div class="panel-heading">Today's Events</div>
        <ul class="list-group" id="tevs">
          <li class="list-group-item" ng-if="!welcome.events"><img src="/img/ellipsis.svg" style="display: block; width: 20%; margin: 0 auto;"></li>
          <li class="list-group-item" ng-repeat="event in welcome.events" ng-if="today(event.start)">{{event.title}}</li>
          <li class="list-group-item" ng-if="!evs && welcome.events">Come enjoy the atmosphere!</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://www.foodbooking.com/widget/js/ewm2.js" defer async ></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
