<div class='container'>
    <div class="col-md-4 col-md-offset-4">
        <div class="panel-body login-panel">
            <img src="/img/logos/fiddler_silhouette_cms.svg" class="img-circle center-block img-small"/><br/>
            <form novalidate name='loginForm' ng-submit='login();'>
                <div class="form-group">
                    <input type="email" name="email" ng-model='email' ng-model-options="{ updateOn: 'default blur' }" placeholder="email" required class="form-control"/>
                    <input type="password" name="password" ng-model='password' ng-model-options="{ updateOn: 'default blur' }" placeholder="password" required class="form-control"/>
                </div>
                    <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
