<div ng-controller="RegistrationController" class="panel panel-default col-md-4 col-md-offset-4">
    <div class="panel-body">
        <h1 class="card-title text-xs-center">Sign Up</h1><br/>
        <ng-messages ng-if='signupError' for='signupStatus' style='color:red'>
            <ng-message when='internalServerError'>Oops. We messed up. Please try again later.</ng-message>
        </ng-messages>
        <form ng-submit="signup();" novalidate name="signupForm">
            <div class="form-group">
                <input required ng-model="name" ng-model-options="{ updateOn: 'default blur' }" ng-minlength="5" ng-maxlength="20" type="text" name="name" placeholder="name" class="form-control"/>
                <ng-messages ng-if="signupForm.$submitted || signupForm.name.$touched" for="signupForm.name.$error" class="help-block">
                    <ng-message when="maxlength">Name too long.</ng-message>
                    <ng-message when="minlength">Name too short.</ng-message>
                    <ng-message when="required">Your name is required.</ng-message>
                </ng-messages>
            </div>
            <div class="form-group">
                <input required ng-model="email" ng-model-options="{ updateOn: 'default blur' }" type="email" name="email" placeholder="email" class="form-control"/>
                <ng-messages ng-if='signupForm.$submitted || signupForm.email.$touched' for="signupForm.email.$error" class="help-block">
                    <ng-message when="unique">Email is already registered.</ng-message>
                    <ng-message when="email">Invalid email.</ng-message>
                    <ng-message when="required">Your email is required.</ng-message>
                </ng-messages>
            </div>
            <div class="form-group">
                <input required ng-model="password" ng-model-options="{ updateOn: 'default blur' }" ng-minlength="8" type="password" name="password" placeholder="password" class="form-control"/>
                <ng-messages ng-if="signupForm.$submitted || signupForm.password.$touched" for="signupForm.email.$error" class="help-block">
                    <ng-message when="minlength">Password must be at least 8 characters long.</ng-message>
                    <ng-message when="required">A password is required.</ng-message>
                </ng-messages>
            </div>
            <button ng-disabled="signupForm.$invalid" type="submit" class="btn btn-block btn-primary">Sign-up</button>
        </form>
    </d
