<form ng-submit="submit()">
  <input ng-model="formData.title" class="form-control" type="text" placeholder="title"/>
  <input ng-model="formData.start" class="form-control" type="text" placeholder="start"/>
  <input ng-model="formData.end" class="form-control" type="text" placeholder="end"/>
  <textarea ng-model="formData.desc" class="form-control" placeholder="description"/></textarea>
  <input ng-model="formData.url" class="form-control" type="text" placeholder="URL"/>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
