extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            .hours-section {
                display: none;
            }
        }
block scripts
    script(src='lib/validator/validator.min.js')
    script.
        $(document).ready(function() {
          $("#contact-form").submit(function() {
            var name = $('#name').val(),
                email = $('#email').val(),
                phone = $('#phnum').val(),
                party = $('#party').val();
                
                $('#name').val(validator.escape(name));
                $('#email').val(validator.escape(email));
                $('#phnum').val(validator.escape(phone));
                $('#subject').val(validator.escape(subject));
                $('#message').val(validator.escape(message));
                
                return true;
          });
        });

block content
    div.primary-content(style="padding: 40px 20px; background: none")
      if message
        h2=message
      form(action='/cc-res' method='post' enctype='application/x-www-form-urlencoded' name="contact-form" id="contact-form")
          h1(style="text-align: center") Celebrity Chef Reservation
          div.form-group
          label(for='name') Name
          input.form-control(name='name' value='' type='text' id='name' required)
          
          div.form-group
          label(for='email') Email Address
          input.form-control(name='email' type='email' id='email' required)
          
          div.form-group
          label(for='phnum') Phone Number
          input.form-control(name='phnum' type='tel' id='phnum' placeholder='Ex: (847) 720-4466')
          
          div.form-group
          label(for='party') Party Size
          input.form-control(name='party' type='number' id='party' required)
          
          button(name='submit' type='submit' class='btn btn-default') Submit

block footer
      
            
        
