extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            .hours-section {
                display: none;
            }
        }

block content
    div.primary-content
        h1(style='color: #bbb') Please email us at theharpandfiddlepr@gmail.com
            
        