extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            .hours-section {
                display: none;
            }
        }

block content
    div.primary-content
        form
            h1 Questions? Comments? Concerns?
            div.form-group
            label(for='name') Name
            input.form-control(type='text' id='name')
            
            div.form-group
            label(for='email') Email Address
            input.form-control(type='email' id='email')
            
            div.form-group
            label(for='phnum') Phone Number
            input.form-control(type='tel' id='phnum' placeholder='Ex: (847) 720-4466')
            
            div.form-group
            label(for='subj') Subject
            input.form-control(type='text' id='subj')
            
            div.form-group
            label(for='msg') Message
            textarea.form-control(id='msg')
            
            button(type='submit' class='btn btn-default') Submit
            
        