extends layout

block nav

block content
  h1 Edit Content
  div.container
    div.panel.panel-default
      div(data-toggle="collapse" data-target="#hours").panel-heading
        h3(style="display: inline-block; width: 90%").panel-title Hours
        button.btn.btn-success(type="submit" style="width: 10%; display: inline-block") Edit
      div(id='hours').panel-body.collapse
        table(style="width: 100%")
          each hour in hours
            tr
              td(style="padding: 5px")=hour.day
              td(style="padding: 5px")
                input(type="text" id=hour.day name=hour.day value=hour.timeframe).form-control
                
    div.panel.panel-default
      div(data-toggle="collapse" data-target="#events").panel-heading
        h3(style="display: inline-block; width: 90%").panel-title Events
        button.btn.btn-success(type="submit" style="width: 10%; display: inline-block") Edit
      div(id='hours').panel-body.collapse
        table(style="width: 100%")
          
              
    

block footer
