extends layout

block stylesheets
    link(rel='stylesheet', href='/lib/fullcalendar/jquery-ui.min.css')
    link(rel='stylesheet', href='/lib/fullcalendar/fullcalendar.min.css')
    link(rel='stylesheet', href='/lib/fullcalendar/fullcalendar.print.css' media='print')
block scripts
    script(src='/lib/fullcalendar/moment.min.js')
    script(src='/lib/fullcalendar/fullcalendar.min.js')
    script.
        $(document).ready( function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                weekMode: 'liquid',
                url: '#',
                events: [!{events}]
            });
        });

block content
    div.primary-content
        div(id='calendar')
        