extends layout

block stylesheets
    link(rel='stylesheet', href='/lib/fullcalendar/jquery-ui.min.css')
    link(rel='stylesheet', href='/lib/fullcalendar/fullcalendar.min.css')
    link(rel='stylesheet', href='/lib/fullcalendar/fullcalendar.print.css' media='print')
    link(rel='stylesheet', href='/lib/lightbox/css/lightbox.min.css')
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }
block scripts
    script(src='/lib/fullcalendar/moment.min.js')
    script(src='/lib/fullcalendar/fullcalendar.min.js')
    script.
        
        $(document).ready( function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            
            var events = [!{events}];
            
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            
            for (var i = 0; i < events.length; i++) {
                var eventDate = events[i].start.split("-");
                events[i].date = new Date(eventDate[0], parseInt(eventDate[1]) - 1, eventDate[2].split(" ")[0], eventDate[2].split(" ")[1].split(":")[0], eventDate[2].split(" ")[1].split(":")[1]);
                events[i].dateString = months[events[i].date.getMonth()] + " " + events[i].date.getDate();
            }

            events.sort(function(a, b) {
                return new Date(a.date) - new Date(b.date);
            });
            
            var formatDate = function(d) {
                var h = d.getHours();
                var m = ("0" + d.getMinutes()).slice(-2);
                var t = h > 12 ? (h - 12) + ":" + m + "pm" : h + ":" + m + "am";
                return t;
            }
            
            for (var i = 0; i < events.length; i++) {
                var now = new Date();
                if (events[i].date.getTime() >= now.getTime()) {
                    var tr = $('<tr></tr>');
                    var title = $('<td></td>');
                    var link = $('<a></a>').text(events[i].title);
                    link.attr("href", events[i].url);
                    //#16264C
                    link.css("color", "#000");
                    title.append(link);
                    var date = $('<td></td>').text(events[i].dateString);
                    var description = $('<td></td>').text(events[i].description);

                    var eventDate = events[i].start.split("-");
                    var moment1 = moment([eventDate[0], parseInt(eventDate[1]) - 1, eventDate[2]]).utcOffset(-360);
                    var today = moment().utcOffset(-360);
                    //var cd = $('<td></td>').text(today.to(moment1));
                    var cd = $('<td></td>').text(formatDate(events[i].date)); 

                    tr.append(title, date, description, cd);
                    tr.addClass("active");
                    $('#eventList').append(tr);
                }
            }

            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                weekMode: 'liquid',
                url: '#',
                events: events,
                eventRender: function(event, element) {
                  if (event.title.toLowerCase().indexOf("notre dame") >= 0) {
                    element.css("background", "#3EA632");
                  }
                  if (event.background) {
                    element.css("background", event.background);
                  }
                  element.text(event.title);
                  element.tooltip({title: event.description});
                  if (event.image) {
                    var image = $('<img>').attr("src",event.image);
                    var oe = element;
                    element = $('<div>')
                    element.append(oe).append(image);
                  }
                },
                eventClick: function(event, jsEvent, view) {
                    window.location.href=event.url;
                }
            });
        });

block content
  div.row
    div.postcards.col-md-2
      a(href='/img/postcards/postcard_ladiesnight.png' data-lightbox='postcards')
        img(src='/img/postcards/postcard_ladiesnight.png')
      a(href='/img/logos/NDCC.jpg' data-lightbox='postcards')
        img(src='/img/logos/NDCC.jpg')
    div.col-md-8(style='background-color: rgba(26, 26, 26, .8);border-radius: 15px;padding: 20px 20px;')
        div(id='calendar')
        div(id='listcal')
            table.table
                thead
                    tr
                        td Event
                        td Date
                        td Description
                        td When
                tbody(id='eventList')
                    
block closing-scripts
  script(src='lib/lightbox/js/lightbox.min.js')
                
