extends layout

block stylesheets
    link(rel='stylesheet' href='/lib/swipebox/css/swipebox.min.css')
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }
block scripts
    script(src='/lib/swipebox/js/jquery.swipebox.min.js')
    script(src='/js/gallery.js')

block content
    div.primary-content
        h1(style='text-align: center; font-size: 5em; color: #888; margin-bottom: 50px;').gallery-header Photo Gallery
        h2(style='text-align: center') The future home of some awesome events!