extends layout

block scripts
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63292401-1', 'auto');
        ga('send', 'pageview');
    script.
        $(document).ready(function() {
            var $downloadingImage = $("<img>");
            $downloadingImage.load(function(){
              $("#bar-draft").attr("src", $(this).attr("src"));
            });
            $downloadingImage.attr("src", "/img/homepage-slides/bar-draft.JPG");
        });

block content

  div.launch-content
    div.row
        div.col-md-8.mainslidercol
            div.carousel.slide.mainslider(id='homepage-carousel' data-wrap='true')
                //Indicators
                ol.carousel-indicators
                    li(data-target='#homepage-carousel' data-slide-to='0')
                    li(data-target='#homepage-carousel' data-slide-to='1')
                    li(data-target='#homepage-carousel' data-slide-to='2')

                //Wrapper for slides
                div.carousel-inner
                    div.item.active
                        img(src='/img/homepage-slides/bar-draft-low-res.jpg' id="bar-draft")
                        div.carousel-caption
                    div.item
                        img(src='/img/homepage-slides/guinnessgate.JPG')
                        div.carousel-caption
                    div.item
                        img(src='/img/homepage-slides/home-angled.JPG')
                        div.carousel-caption
                    div.item
                        img(src='/img/homepage-slides/guinness-pour.JPG')
                        div.carousel-caption
                    div.item
                        img(src='/img/homepage-slides/drinks.JPG')
                        div.carousel-caption
                    div.item
                        img(src='/img/homepage-slides/wine.JPG')
                        div.carousel-caption

                //Controls
                a.carousel-control.left(href='#homepage-carousel' role='button' data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.carousel-control.right(href='#homepage-carousel' role='button' data-slide='next')
                    span.glyphicon.glyphicon-chevron-right
        div.col-md-4
            div.panel.panel-default.specials
                div.panel-heading Today's Specials
                
                ul.list-group
                    each special in specials
                        li.list-group-item=special.title
    div.row.home-routers
        div.col-md-4
            a(href='menu')
                div.home-router
                    img(src='/img/shepardspie.jpg')
                    h1 food
        div.col-md-4
            a(href='draft')
                div.home-router
                    img(src='/img/drinks.jpg')
                    h1 drinks
        div.col-md-4
            a(href='events')
                div.home-router
                    img(src='/img/events.jpg')
                    h1 events
                    
                    