extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }

block content
    div.primary-content
        iframe.lnvid(style="width: 100%; min-height: 400px;" src="https://www.youtube.com/embed/8avqKM5qJns" frameborder="0" allowfullscreen)
        img(src='/img/events/ladiesnight.png' style='width:100%; margin-top: 2.5%;')
        img(src='/img/postcards/postcard_ladiesnight.png' style='width:100%; margin-top:2.5%;')
        
                    
            
            
