extends layout

block stylesheets
  script.
    .form-control{
      margin-top: 20px !important;
    }

block nav

block content
  div.container(style="width: 40%; margin-top: 40px;")
    if message
      h1=message
    form(action='/login' method='post' enctype='application/x-www-form-urlencoded')
      h1 Log in
      input(type="email" style="margin-top: 20px; height: 40px" id="email" name='email' placeholder="Email" required autofocus).form-control
      input(type="password" style="margin-top: 20px; height: 40px;" id="password" name='password' placeholder="Password" required autofocus).form-control
      button(type="submit" style="margin-top: 20px; height: 50px").btn.btn-lg.btn-primary Sign In
      
block footer
      
