extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }

block scripts
    script(src='lib/validator/validator.min.js')
    script.
        $(document).ready(function() {
          $("#contact-form").submit(function() {
            var name = $('#name').val(),
                email = $('#email').val(),
                phone = $('#phnum').val(),
                party = $('#party').val();
                
                $('#name').val(validator.escape(name));
                $('#email').val(validator.escape(email));
                $('#phnum').val(validator.escape(phone));
                $('#subject').val(validator.escape(subject));
                $('#message').val(validator.escape(message));
                
                return true;
          });
          
          var events = [#{events}];
          
          if (events) {
            for (var i = 0; i < events.length; i++) {
              var tr = $("<tr></tr>");
              var td = $("<td></td>");
              var div = $('<div></div>');
              var title = $('<h4></h4>').text(events[i].title);
              var date = $('<p></p>').text(events[i].evdate);
              var description = $('<p></p>').text(events[i].evdesc);
              div.append(title,date,description);
              var del = $('<button></button>').addClass('btn').text('Delete').css({
                background: "#D9635B",
                color: "#fff",
                float: "left",
                width: "20%"
              });
              div.css({
                float: "left",
                width: "80%"
              });
              td.append(div, del);
              tr.append(td);
              $('table.evdates').append(tr);
            }
          }
        });

block content
    div.primary-content(style="padding: 40px 20px; background: none")
      if message
        h2=message
      form(action='/remove-event' method='post' enctype='application/x-www-form-urlencoded' name="contact-form" id="contact-form")
          h1(style="text-align: center") Remove an Event
          
          div.form-group
          label(for='evdate') Date
          input.form-control(name='evdate' value='' type='date' id='evdate' required)
          
          button(name='submit' type='submit' class='btn' style='background: #6AA841; color: #fff') Submit
      if events
        table.table.table-striped.evdates(style='margin-top: 40px; background: #fff')

block footer
      
            
        
