extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }

block scripts
    script.
        $(document).ready(function() {
            var menu = !{menu};
            var cocktails = menu.sections[0].items;
            
            for (var i = 0; i < cocktails.length; i++) {
                var row = $('<div></div>').addClass("row");
                var div = $('<div></div>').addClass("drink");
                var title = $('<h2></h2>').text(cocktails[i].title);
                var description = $('<p></p>').text(cocktails[i].description);
                div.append(title, description);
                row.append(div);
                $('.menu').append(row);
            }
            
            
        });

block content
    div.primary-content.menu
        h1(style='text-align: center') Specialty Cocktails
        
                    
            
            