extends layout

block stylesheets
    style.
        @media(max-width: 992px) {
            footer {
                display: none;
            }
        }

block scripts
    script.
        $(document).ready(function() {
            var menu = !{menu};
            var sections = menu.sections;
            
            console.log(menu);
            
            var count = 0;
            
            $('.wine-header').prepend($('<div></div>').addClass("col-md-10").append($('<h1></h1>').text(sections[0].title)));
            
            for (var i = 0; i < sections.length; i++) {
                if (i > 0) {
                    var title = $('<div></div>').addClass("col-md-12");
                    title.append($('<h1></h1>').text(sections[i].title))
                    var row = $('<div></div>').addClass("row");
                    row.append(title);
                    $('.menu').append(row);
                }
                
                var wines = sections[i].items;
                
                console.log(wines);
                
                for (var q = 0; q < wines.length; q++) {
                    var row = $('<div></div>').addClass("row");
                    var div = $('<div></div>').addClass("wine-item col-md-10")
                    var wTitle = $('<h2></h2>').text(wines[q].title);
                    var wDesc = $('<p></p>').text(wines[q].description);
                    div.append(wTitle, wDesc);
                    var glass = $('<p></p>').addClass("col-md-1");
                    var bottle = $('<p></p>').addClass("col-md-1");
                    if (wines[q].glass > -1) {
                        glass.text(wines[q].glass).addClass("glass");
                    } else {
                        glass.text(" ");
                    }
                    if (wines[q].bottle > -1) {
                        bottle.text(wines[q].bottle).addClass("bottle");
                    } else {
                        bottle.text(" ");
                    }
                    row.append(div, glass, bottle);
                    $('.menu').append(row);
                }
                
            }
        });

block content
    div.primary-content.menu
        h1(style='text-align: center') Wine List
        div.row.wine-header
            div.col-xs-1
                h2 Glass
            div.col-xs-1
                h2 Bottle
            
        
                    
            
            