body {
  background-color: rgba(240,240,240,1);
}
td {
  max-width: 20px;
  overflow: auto;
}
.menu-tag-selector {
  font-size: 0.4em !important;
  line-height: 1em !important;
  font-weight: 400;
  cursor: pointer;
}
#primary {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 10px 40px;
}
.active {
  background-color: #45A5F7 !important;
}
p.dispControls {
  float: right;
  cursor: pointer;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
}
.imageEditModal {
  width: 80%;
  margin: 0;
  border-radius: 10px;
  background-color: rgba(240,240,240,1);
  padding: 20px;
  position: absolute;
  display: none;
  z-index: 100;
  top: 100px;
  left: 10%;
}
#previewWindow {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}
.imgSearch {
  padding: 10px;
  width: 100%;
  background-color: rgba(250,250,250,1);
}
.imgSearch input {
  border: none;
  padding: 10px;
  width: calc(100% - 220px);
}
#previewContainer {
  width: 100%;
  background: rgba(200,200,200,1);
}
.btn {
  width: 100px !important;
  border-radius: 0 !important;
  margin-left: 5px;
}
#eventBody input {
  margin: 10px 0;
  padding: 20px;
  border-radius: 0;
  border: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
label span {
  margin-left: 2em;
}
label {
  margin: 20px 0 !important;
}
input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.collapsable-ev {
  display: table-row;
}
.btn-dash {
  border: none;
  border-radius: 0;
  padding: 20px 0;
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}



.event-card, .item-card {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(230,230,230,1);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}
.event-fav, .event-edit, .event-delete, .item-edit, .item-delete {
  width: 40px;
  min-height: 40px;
  position: absolute;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.event-delete, .item-delete {
  top: 10px;
  right: 10px;
  background-image: url("/img/icons/delete.svg");
}
.event-edit, .item-edit {
  top: 10px;
  right: 60px;
}
.event-edit[data-status="saved"], .item-edit[data-status="saved"] {
  background-image: url("/img/icons/edit.svg");
}
.event-edit[data-status='edited'], .item-edit[data-status='edited'] {
  background-image: url("/img/icons/update.svg");
}
.event-fav {
  top: 10px;
  right: 110px;
}
.event-fav[data-checked] {
  background-image: url("/img/icons/star.svg");
}
.event-fav[data-checked='false'] {
  background-image: url("/img/icons/star_open.svg");
}
.event-img {
  float: left;
  width: 200px;
  height: 200px;
  background-size: cover;
}
.event-info, .event-edit-info, .item-info, .item-edit-info {
  float: left;
  padding: 10px;
  width: calc(100% - 200px);
}
.event-info h5, input.title-edit, .item-info h5 {
  font-size: 2em;
}
.event-edit-info input, .item-edit-info input {
  border: none;
  padding: 5px;
  display: block;
  margin: 5px 0;
}
.event-img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  position: relative;
  padding: 40%;
  cursor: pointer;
}
.event-img-overlay img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.tag {
  background-color: #4B9BC7;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 2px;
}
