body {
  background-image: url("/img/backgrounds/grain-wood.jpg");
  background-position: center center;
  background-size: 100%;
}
td {
  max-width: 20px;
  overflow: auto;
}
#primary {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 40px;
  background-color: #ccc;
  border-radius: 10px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  display: none;
}
#eventModal {
  padding: 40px;
  width: 40%;
  margin: 10vh 30%;
  display: block;
  display: none;
  position: absolute;
  z-index: 9999999;
  background: #ccc;
  border-radius: 10px;
  top: 0;
  left: 0;
}
#eventBody input {
  margin: 10px 0;
  padding: 20px;
  border-radius: 0;
  border: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
label span {
  margin-left: 2em;
}
label {
  margin: 20px 0 !important;
}
input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.collapsable-ev {
  display: table-row;
}
.btn-dash {
  border: none;
  border-radius: 0;
  padding: 20px 0;
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
