/* ----------------------------------------------
-------------- General Styles -------------------
---------------------------------------------- */
body {
  overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6, td, a, li {
  color: #fff;
  font-family: Montserrat;
  font-weight: 300;
}
#tour-360 {
  display: none;
  animation-delay: 1s;
  animation-duration: 2s;
}
#tour-360 iframe {
  width: 90%;
  height: 90vh;
  display: block;
  margin: auto;
}
#show-360 {
  position: absolute;
  height: 20vh;
  top: 0;
  left: 10px;
  z-index: 2;
  cursor: pointer;
  animation-delay: 1.5s;
}
td {
  color: #000;
}
.map-overlay {
  position: absolute;
  width: 85%;
  margin-left: 7.5%;
  height: 40vh;
  z-index: 999;
}
#overlay {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background: rgba(0,0,0,0.8);
}
#close {
  color: #fff;
  margin-right: 3vh;
  margin-top: 3vh;
  font-size: 3vh;
  text-align: right;
  cursor: pointer;
}
#job-form {
  background-image: url("/img/backgrounds/paper.png");
  background-repeat: repeat;
  width: 90%;
  margin: 3vh auto;
  padding: 40px;
  padding-bottom: 50px;
  display: none;
  overflow: auto;
}
#job-form h1 {
  color: #222;
}
#job-form input, #job-form textarea, #job-form select {
  width: 100%;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  padding: 25px 20px;
}
#job-form select {
  height: 50px;
  padding: 0 16px;
}
#job-form button {
  padding: 10px 40px;
}
.form-50 {
  float: left !important;
  width: calc(50% - 5px) !important;
}
.form-50:nth-child(2n) {
  margin-left: 10px !important;
}
.nav-logo {
  padding: 15px 40px !important;
  background-color: transparent !important;
}
.top-nav img {
  height: 40px;
}
.failmail, .successmail {
  display: none;
}
.noscroll {
  overflow: hidden;
}
#events, #about, #menus, #reserve {
  width: 100%;
  background: #333;
  padding: 40px;
}
#social {
  width: 100%;
  background: #000;
  padding: 25px 0 0 0 ;
}
#events h1, #about h1, #social h1, #menus h1, #reserve h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 2vh;
  color: #fff;
  font-weight: normal;
}
footer {
  width: 100%;
  padding: 5vh;
  color: #fff;
  font-family: Montserrat;
  font-weight: lighter;
  background: #333;
}
footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 1em;
  padding: 10px;
}
footer p {
  text-align: center;
  font-size: 1em;
  color: #ccc;
  margin-top: 10px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.icon {
  width: 10%;
  float: left;
  margin-left: 10px;
}
.tbl {
  display: table;
  margin: 0 auto;
}
.desktop-item, .desktop-item-inline {
  display: none;
}
.mobile-item {
  display: block;
}
.mobile-item-inline {
  display: inline-block;
}
a:hover {
  color: green;
}

/* ----------------------------------------------
-------------- Navigation Styles ----------------
---------------------------------------------- */
.offscreen-nav-wrapper {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.onscreen-wrapper {
  height: 100%;
}
.offscreen-nav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  -webkit-transition: right 2s; /* Safari */
  transition: right 2s;
}
.offscreen-nav {
  background: #222;
}
.offscreen-nav li {
  list-style-type: none;
  padding: 4vh;
  background: #333;
  color: #ccc;
  font-size: 2em;
}
.onscreen {
  right: 0;
}
.top-nav {
  display: none;
}
.popup-ll {
  position: absolute !important;
  left: 25px !important;
  bottom: 25px !important;
  width: 120px !important;
  cursor: pointer;
  animation-delay: 2s;
}

/* ----------------------------------------------
------------ Contact Form Styles ----------------
---------------------------------------------- */
#contact-form {
  background: rgba(238,238,238,1);
  width: 90%;
  margin: 3vh auto;
  padding: 40px;
  padding-bottom: 50px;
  display: none;
  overflow: auto;
}
#contact-form h1 {
  font-size: 4em;
}
#contact-form input, #contact-form textarea {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 10vh;
  margin: 10px auto;
}
#contact-form input {
  max-height: 55px;
}
#contact-form button {
  padding: 20px 0;
  width: 100%;
  display: block;
  font-size: 20px;
  margin: 1vh auto;
  border: none;
  border-radius: 0;
}
div.bar {
  width: 100%;
  height: 8px;
  background: #333;
  margin-bottom: 45px;
  /*margin-left: 5%;*/
  margin-top: 45px;
}
div.bar:not(:first-child) {
  margin-top: 45px;
}
#contact-form-info span {
  display: block;
}
#contact-form-info p {
  color: #333;
  font-weight: 400;
  font-size: 1.25em;
  /*margin-left: 5%;*/
}
#contact-form h1 {
    text-align: center;
    color: #333;
    margin: 10px auto;
}

/* ----------------------------------------------
---------------- Menu Styles --------------------
---------------------------------------------- */
.menu-list-item a {
  font-size: 2em !important;
}
#beer-menu {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/img/backgrounds/op/guiness.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.menu-modal {
  width: 90%;
  margin: 3vh auto;
  padding: 20px;
  background: #fff;
}
.menu-modal img {
  width: 100%;
}
.menu-page {
  display: none;
}
.overlayGradient {
  fill: url(#overlayGradientDark);
  cursor: pointer;
}
#menuContainer canvas {
  width: 100%;
}
#events-pu {
  display: none;
}
#food, #events-pu, #contact-form, #drinks, #cocktails {
  display: none;
}
#food canvas, #drinks canvas, #cocktails canvas {
  width: 95%;
  margin: 0 auto;
}
.selectContainer {
  width: 95%;
  background-color: rgba(238,238,238,0.8);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 2.5%;
}
.selectContainer select {
  background-color: white !important;
}
.glf-button {
  margin-top: -25px !important;
}
#social h2 {
  text-align: center;
}
/* ----------------------------------------------
-------------- Intro Styles ---------------------
---------------------------------------------- */
#intro {
  width: 100%;
  height: 100vh;
  /*background-image: url("http://placehold.it/848x567");*/
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/bar-blur.jpg");
  background-size: cover;
  background-position: center center;
}
.i-logo {
  width: 90%;
  margin-top: 35vh;
  margin-left: 5%;
}
#intro h2 {
  font-family: Montserrat;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  color: #fff;
}
#intro span {
  font-family: Great Vibes;
  display: block;
  margin-top: 10px;
}
#look {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-align: center;
  display: block;
  width: 40%;
  margin: 10vh auto;
}
#look {
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


/* ----------------------------------------------
--------- Primary Content Styles ----------------
---------------------------------------------- */
.ev-box h4, .menu-box h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 2em;
  padding-top: 40%;
}
.featuredev-container {
  width: 100%;
}
.menu-box h4 {
  font-size: 3em;
}
.menu-box h4 {
  padding: 40% 0;
}
#social a {
  text-align: center;
  padding: 10px;
  color: #333;
  font-size: 2em;
  display: block;
  font-weight: normal;
}
#about h1 {
  color: #fff;
}
#contact-link {
  font-family: Montserrat;
  font-weight: 400;
  margin-top: 50px;
  font-size: 2em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.menu-box {
  width: 45vh;
  height: 45vh;
  margin: 5vh auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#foodCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/beef_wellington.jpg");
}
#drinksCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/guiness.jpg");
}
#cocktailsCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/beautifulday.jpg");
}
.soc-box {
  width: 45vh;
  height: 45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ig-links {
  height: 45vh;
}
.slick-track {
  height: 45vh;
}
.spinner {
  display: none;
  margin: 100px auto;
}
#email-info {
  cursor: pointer;
}
.insta-overlay {
  display: none;
  cursor: pointer;
}
.ui-state-hover {
  background-color: #ccc !important;
}
.ui-state-highlight {
  background-color: #fffa90 !important;
}

#about {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) url("/img/backgrounds/brick.jpg");
  padding: 50px;
}
.contact-block {
  width: 90%;
  padding: 20px;
  margin: 5% auto;
  background: #fff;
}
.contact-block p, .contact-block a, .contact-block h4 {
  color: #111;
}
.contact-block h4 {
  font-size: 1.6em;
}
.contact-block p {
  font-size: 1em;
}
.contact-block th {
  color: #111;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.6em;
}
.contact-block td {
  font-size: 1em !important;
  color: #111 !important;
  font-weight: 200;
}
#reservation-block input[type='date'], #reservation-block select  {
  width: 50%;
  float: left;
  border: none;
}
#reservation-block input, #contact-form-block input, #contact-form-block textarea {
  width: 100%;
  min-height: 30px;
  border: none;
}
#contact-form-block textarea {
  min-height: 50px;
}
#reservation-block button[type='submit'] {
  width: 100%;
  color: #fff;
  background-color: rgb(211, 35, 35);
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 5px;
}
#contact-form-block button[type='submit'] {
  width: 100%;
  color: #fff;
  background-color: rgb(211, 35, 35);
  border: none;
  padding: 5px 0;
  margin-top: 5px;
}


/* ----------------------------------------------
---------- Featured Event Styles ----------------
---------------------------------------------- */
#events h1 {
  text-align: left;
  font-size: 2em;
  margin: 20px 40px;
  color: #fff;
}
#featured-evs div {
  float: left;
}
#featured-evs div p {
  font-size: 1em;
}
.ev-box {
  width: 100%;
  height: 10vh;
  margin: 10px 0 0 0;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.ev-box h4 {
  padding: 0;
  font-size: 1.75em;
  height: 1em;
  overflow-y: hidden;
}
.ev-box p {
  display: none;
  text-align: center;
  font-size: 2em;
  font-family: Montserrat;
  font-weight: 300;
}
#events {
  overflow: auto;
  padding: 30px !important;
  padding-bottom: 60px !important;
  background-color: #222;
}
#featured-evs {
  overflow: hidden;
}

#oo-btn {
  background-color: #ADE6A3;
  overflow: auto;
  margin-bottom: 15px;
}
#oo-btn span.glf-button {
  color: #222;
  text-transform: uppercase;
  background-image: url("/img/backgrounds/paper.png");
  margin: 0 !important;
  padding: 5px !important;
  cursor: pointer;
  background-color: rgba(221,221,221,1);
  border-radius: 0;
  display: block;
  color: #222 !important;
  font-family: 'Montserrat' !important;
  font-weight: 300 !important;
  box-shadow: none;
  font-size: 1em;
  text-align: left;
  text-shadow: none;
  line-height: 25px;
  overflow: auto;
}
#oo-btn span.glf-button:hover {
  background-image: none;
  background-color: #E5E5E5;
}
#gh-btn-nav {
  padding: 15px 0;
}

#events-calendar {
  width: 90%;
  margin: 0 auto;
}
.menu-overlay {
  display: none;
}
#about {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/brick.jpg");
  overflow: auto;
  padding: 40px;
}
#location-map iframe, .map-overlay {
  width: 100%;
  min-height: 50vh;
  margin: 0;
}
#contact-info {
  width: 100%;
  margin-top: 10px;
  background-color: rgba(240,240,240,1);
  padding: 1px 0;
}

/* ----------------------------------------------
---------------- Menus Styles ------------------
---------------------------------------------- */
#menus {
  overflow: auto;
}
#menus-nav {
  width: 100%;
  float: left;
  overflow: auto;
}
#menus-nav .menu-nav-link {
  color: #222;
  text-transform: uppercase;
  margin-bottom: 0;
  background-image: url("/img/backgrounds/paper.png");
  padding: 20px;
  cursor: pointer;
}
#menus-nav span.menu-icon {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  background-size: 20px;
  background-repeat: no-repeat;
}
#menu-col-2 {
  width: 72.5%;
  margin-left: 2.5%;
  float: left;
  overflow: auto;
}
#menus-canvas {
  width: 100%;
  height: 80vh;
  background-image: url("/img/backgrounds/paper.png");
  float: left;
  overflow: auto;
}

.menu-container-mobile {
  background-image: url("/img/backgrounds/paper.png");
  overflow: auto;
  display: none;
  padding: 10px;
}
.menu-container-mobile .menu-item {
  width: 95%;
  margin: 10px 2.5%;
}
.menu-nav-container {
  margin-bottom: 5px;
}

.menu-container h2, .menu-container-mobile h2 {
  text-align: center;
  color: #222;
}
.menu-section {
  margin-top: 40px;
}
.menu-subtitle {
  text-align: center;
  color: #222;
  margin: 0;
}
.menu-item {
  width: 47%;
  padding: 20px;
  float: left;
  background: #ddd;
  color: #222;
  margin-left: 2%;
  margin-bottom: 2%;
  min-height: 170px;
}
.menu-details {
  color: #555;
  font-size: 1em;
  margin: 5px 0 0 20px;
}
.menu-details::before {
  content: '*';
}
.menu-item h4, .menu-item p, .menu-container h2 {
  color: #222;
}
.item-prices {
  width: 100%;
  text-align: right;
}
.menu-title {
  text-transform: capitalize;
}



/* ----------------------------------------------
---- Hamburger Menu animation by Jesse Couch ----
---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
#menu {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}
#menu span {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu span:nth-child(even) {
  left: 50%;
}
#menu span:nth-child(odd) {
  left:0px;
}
#menu span:nth-child(1), #menu span:nth-child(2) {
  top: 0px;
}
#menu span:nth-child(3), #menu span:nth-child(4) {
  top: 16px;
}
#menu span:nth-child(5), #menu span:nth-child(6) {
  top: 32px;
}
#menu.open span:nth-child(1),#menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu.open span:nth-child(2),#menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}
#menu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}
#menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#menu.open span:nth-child(5) {
  left: 5px;
  top: 20px;
}
#menu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 20px;
}

#soc-links img {
  width: 50px;
  margin: 0 auto;
}
.fc-scroller {
  overflow-y: auto !important;
  height: auto !important;
}
#events-pu {
  width: 90%;
  margin-left: 5%;
}
#untappd-menu-mobile span.menu-icon {
  background-image: url("/img/icons/beer.svg") !important;
}
#beer-mobile .menu-header-logo-hideable img {
  width: 90%;
}
#beer-mobile .menu-nav .menu-list a {
  font-size: 10px !important;
}
#beer-mobile .date-time {
  display: none;
}
.ev-info-container {
  width: 100%;
  padding: 20px;
  background-image: url("/img/backgrounds/paper.png");
  background-repeat: repeat;
  margin: 0;
}
.ev-info-container p {
  color: #555;
  margin: 0;
}
.ev-info-container p:first-child {
  font-size: 1.2em !important;
  color: #222;
}
.ev-info-container a {
  color: #2F61DB;
}
.ev-info-container {
  display: none;
}
