/* ----------------------------------------------
-------------- General Styles -------------------
---------------------------------------------- */
p, h1, h2, h3, h4, h5, h6, td, a, li {
  color: #fff;
  font-family: Montserrat;
  font-weight: lighter;
}
.map-overlay {
  position: absolute;
  width: 85%;
  margin-left: 7.5%;
  height: 40vh;
  z-index: 9999999999;
}
#overlay {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  display: none;
  background: rgba(0,0,0,0.8);
}
#close {
  color: #fff;
  margin-right: 3vh;
  margin-top: 3vh;
  font-size: 3vh;
  text-align: right;
}
.noscroll {
  overflow: hidden;
}
#events, #about, #social, #menus, #reserve {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 100px 0;
}
#events h1, #about h1, #social h1, #menus h1, #reserve h1 {
  text-transform: uppercase;
  font-size: 6em;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 2vh;
  color: #333;
  font-weight: normal;
}
footer {
  width: 100%;
  padding: 5vh;
  color: #fff;
  font-family: Montserrat;
  font-weight: lighter;
  background: #333;
}
footer li {
  list-style-type: none;
  display: inline;
  font-size: 2.5em;
  padding: 10px;
}
footer p {
  text-align: center;
  font-size: 2em;
  color: #ccc;
  margin-top: 10px;
}
.soc-box, .menu-box {
  width: 45vh;
  height: 45vh;
  margin: 5vh auto;
  background-image: url('http://placehold.it/500x500');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.show {
  display: block;
}
.hide {
  display: none;
}

/* ----------------------------------------------
-------------- Reservation Styles -------------------
---------------------------------------------- */
#yelp-reservations-widget {
  width: 90%;
}
#datepicker {
  margin-top: 10vh;
}
.ui-menu-item {
  color: #333 !important;
  font-size: 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
      height: 24px;
      width: 24px;
      top: 0.1em;
}
#time-button, #party-button {
  font-size: 3em;
  display: block;
  margin: auto;
  width: 714px;
}
#btn-container {
  width: 714px;
  margin: auto;
  background: rgb(237, 237, 237);
  padding: 20px;
}
#reserve-btn {
  padding: 40px;
  border-radius: 15px;
  border: none;
  font-size: 3em;
  background-color: rgb(211, 35, 35);
  color: #fff;
  width: 95%;
  display: block;
  margin: auto;
}
div.ui-datepicker {
  font-size: 3em;
  margin: auto;
}
#reserve {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/img/backgrounds/barside.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#reserve h1 {
  color: #fff;
}

/* ----------------------------------------------
---------------- Menu Styles --------------------
---------------------------------------------- */
#menu-container {
  padding: 20px;
  background: #fff;
  width: 90%;
  margin: auto;
  margin-bottom: 3vh;
  display: none;
  border-radius: 10px;
}
.menu-list-item a {
  font-size: 2em !important;
}
#beer-menu {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/img/backgrounds/guiness.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ----------------------------------------------
-------------- Intro Styles ---------------------
---------------------------------------------- */
#intro {
  width: 100%;
  height: 100vh;
  /*background-image: url("http://placehold.it/848x567");*/
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/img/backgrounds/bar.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: -99999;
}
#intro img {
  width: 90%;
  margin-top: 35vh;
  margin-left: 5%;
}
#intro h2 {
  font-family: Montserrat;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  font-size: 4em;
  color: #fff;
}
#intro span {
  font-family: Great Vibes;
  display: block;
  margin-top: 10px;
}

/* ----------------------------------------------
--------- Primary Content Styles ----------------
---------------------------------------------- */

#primary-container {
  position: relative;
  top: 100vh;
  z-index: 0;
}
#about {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("/img/backgrounds/chat.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#about iframe {
  width: 85%;
  margin-left: 7.5%;
  height: 40vh;
  margin-bottom: 50px;
}
.ev-box {
  width: 45vh;
  height: 45vh;
  margin: 50px auto;
  background-image: url('http://placehold.it/500x500');
  background-position: center center;
  position: relative;
}
.ev-box h4, .menu-box h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 5em;
  padding-top: 40%;
}
.ev-box p {
  text-align: center;
  font-size: 3em;
  font-family: Montserrat;
  font-weight: lighter;
}
#social a {
  text-align: center;
  padding: 10px;
  color: #333;
  font-size: 3em;
  display: block;
  font-weight: normal;
}
#about h1 {
  color: #fff;
}
#about td {
  color: #ddd;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 3em;
  width: auto;
}
#about td:nth-child(2n) {
  text-align: left;
}
#about table {
  width: 70%;
  margin: 40px 15%;
}
#contact-link {
  font-family: Montserrat;
  font-weight: 400;
  margin-top: 50px;
  font-size: 5em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#contact-info {
  width: 85%;
  margin: 40px 7.5%;
  display: block;
  font-size: 3em;
}
#email {
  background-image: url('/img/icons/mail.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 70px;
}
#ph-num {
  background-image: url('/img/icons/phone.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 70px;
}
#address {
  display: block;
  padding-top: 0;
  padding-left: 70px;
  background-image: url('/img/icons/address.svg');
  background-position: left top;
  background-size: 50px;
  background-repeat: no-repeat;
}
#about th {
  font-size: 3em;
  font-family: Montserrat;
  color: #ddd;
}

/* ----------------------------------------------
---- Hamburger Menu animation by Jesse Couch ----
---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
#menu {
  display: block;
  position: fixed;
  top: 80px;
  right: 80px;
  width: 80px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#menu span {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  height: 8px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu span:nth-child(even) {
  left: 50%;
}
#menu span:nth-child(odd) {
  left:0px;
}
#menu span:nth-child(1), #menu span:nth-child(2) {
  top: 0px;
}
#menu span:nth-child(3), #menu span:nth-child(4) {
  top: 24px;
}
#menu span:nth-child(5), #menu span:nth-child(6) {
  top: 48px;
}
#menu.open span:nth-child(1),#menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu.open span:nth-child(2),#menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}
#menu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
#menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#menu.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}
#menu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
