/* ----------------------------------------------
-------------- General Styles -------------------
---------------------------------------------- */
p, h1, h2, h3, h4, h5, h6, td, a, li {
  color: #fff;
  font-family: Montserrat;
  font-weight: 300;
}
#tour-360 {
  display: none;
  animation-delay: 1s;
  animation-duration: 2s;
}
#tour-360 iframe {
  width: 90%;
  height: 90vh;
  display: block;
  margin: auto;
}
#show-360 {
  position: fixed;
  height: 20vh;
  top: 0;
  left: 10px;
  z-index: 2;
  cursor: pointer;
  animation-delay: 1.5s;
}
td {
  color: #000;
}
.map-overlay {
  position: absolute;
  width: 85%;
  margin-left: 7.5%;
  height: 40vh;
  z-index: 999;
}
#overlay {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background: rgba(0,0,0,0.8);
}
#close {
  color: #fff;
  margin-right: 3vh;
  margin-top: 3vh;
  font-size: 3vh;
  text-align: right;
}
.failmail, .successmail {
  display: none;
}
.noscroll {
  overflow: hidden;
}
#events, #about, #menus, #reserve {
  width: 100%;
  min-height: 100vh;
  background: #000;
  padding: 50px 0;
}
#social {
  width: 100%;
  background: #000;
  padding: 25px 0 0 0 ;
}
#events h1, #about h1, #social h1, #menus h1, #reserve h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 2vh;
  color: #fff;
  font-weight: normal;
}
footer {
  width: 100%;
  padding: 5vh;
  color: #fff;
  font-family: Montserrat;
  font-weight: lighter;
  background: #333;
}
footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 1em;
  padding: 10px;
}
footer p {
  text-align: center;
  font-size: 1em;
  color: #ccc;
  margin-top: 10px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.icon {
  width: 10%;
  float: left;
  margin-left: 10px;
}
.tbl {
  display: table;
  margin: 0 auto;
}
.desktop-item, .desktop-item-inline {
  display: none;
}
.mobile-item {
  display: block;
}
.mobile-item-inline {
  display: inline-block;
}
a:hover {
  color: green;
}

/* ----------------------------------------------
-------------- Navigation Styles ----------------
---------------------------------------------- */
.offscreen-nav-wrapper {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.onscreen-wrapper {
  height: 100%;
}
.offscreen-nav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  -webkit-transition: right 2s; /* Safari */
  transition: right 2s;
}
.offscreen-nav {
  background: #222;
}
.offscreen-nav li {
  list-style-type: none;
  padding: 4vh;
  background: #333;
  color: #ccc;
  font-size: 2em;
}
.onscreen {
  right: 0;
}
.top-nav {
  display: none;
}

/* ----------------------------------------------
-------------- Reservation Styles ---------------
---------------------------------------------- */
#yelp-reservations-widget {
  width: 90%;
}
.datepicker {
  margin-top: 10vh;
}
.ui-menu-item {
  color: #333 !important;
  font-size: 1.25em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
      height: 24px;
      width: 24px;
      top: 0.1em;
}
#time-button, #party-button {
  font-size: 1em;
  display: block;
  margin: auto;
  width: 297.5px;
  min-height: 50px;
}
.btn-container {
  width: 297.5px;
  margin: auto;
  background: rgb(237, 237, 237);
  padding: 20px;
}
#reserve-btn {
  padding: 20px;
  border-radius: 15px;
  border: none;
  font-size: 1.5em;
  background-color: rgb(211, 35, 35);
  color: #fff;
  width: 95%;
  display: block;
  margin: auto;
}
div.ui-datepicker {
  font-size: 1.25em;
  margin: auto;
}
#reserve {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/img/backgrounds/op/barside.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#reserve h1 {
  color: #fff;
}

/* ----------------------------------------------
------------ Contact Form Styles ----------------
---------------------------------------------- */
#contact-form {
  background: rgba(238,238,238,1);
  width: 90%;
  margin: 3vh auto;
  padding: 40px;
  padding-bottom: 50px;
  display: none;
  overflow: auto;
}
#contact-form h1 {
  font-size: 4em;
}
#contact-form input, #contact-form textarea {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 10vh;
  margin: 10px auto;
}
#contact-form input {
  max-height: 55px;
}
#contact-form button {
  padding: 20px 0;
  width: 100%;
  display: block;
  font-size: 20px;
  margin: 1vh auto;
  border: none;
  border-radius: 0;
}
div.bar {
  width: 100%;
  height: 8px;
  background: #333;
  margin-bottom: 45px;
  /*margin-left: 5%;*/
  margin-top: 45px;
}
div.bar:not(:first-child) {
  margin-top: 45px;
}
#contact-form-info span {
  display: block;
}
#contact-form-info p {
  color: #333;
  font-weight: 400;
  font-size: 1.25em;
  /*margin-left: 5%;*/
}
#contact-form h1 {
    text-align: center;
    color: #333;
    margin: 10px auto;
}

/* ----------------------------------------------
---------------- Menu Styles --------------------
---------------------------------------------- */
#menu-container {
  padding: 20px;
  background: #fff;
  width: 90%;
  margin: auto;
  margin-bottom: 3vh;
  display: none;
  border-radius: 10px;
}
.menu-list-item a {
  font-size: 2em !important;
}
#beer-menu {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/img/backgrounds/op/guiness.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.menu-modal {
  width: 90%;
  margin: 3vh auto;
  padding: 20px;
  background: #fff;
}
.menu-modal img {
  width: 100%;
}
.menu-page {
  display: none;
}
.overlayGradient {
  fill: url(#overlayGradientDark);
  cursor: pointer;
}
#menuContainer canvas {
  width: 100%;
}
#events-pu {
  display: none;
}
#food, #events-pu, #contact-form, #drinks, #cocktails {
  display: none;
}
#food canvas, #drinks canvas, #cocktails canvas {
  width: 95%;
  margin: 0 auto;
}
.selectContainer {
  width: 95%;
  background-color: rgba(238,238,238,0.8);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 2.5%;
}
.selectContainer select {
  background-color: white !important;
}
.glf-button {
  margin-top: -25px !important;
}
#social h2 {
  text-align: center;
}
/* ----------------------------------------------
-------------- Intro Styles ---------------------
---------------------------------------------- */
#intro {
  width: 100%;
  height: 100vh;
  /*background-image: url("http://placehold.it/848x567");*/
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/bar-blur.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: 0;
}
#intro img {
  width: 90%;
  margin-top: 35vh;
  margin-left: 5%;
}
#intro h2 {
  font-family: Montserrat;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  color: #fff;
}
#intro span {
  font-family: Great Vibes;
  display: block;
  margin-top: 10px;
}
#intro a {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-align: center;
  display: block;
  width: 40%;
  margin: 10vh auto;
}
#look {
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


/* ----------------------------------------------
--------- Primary Content Styles ----------------
---------------------------------------------- */

#primary-container {
  position: relative;
  top: 100vh;
  z-index: 1;
}
#about {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("/img/backgrounds/op/chat.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#about iframe {
  width: 85%;
  margin-left: 7.5%;
  height: 40vh;
  margin-bottom: 50px;
}
.ev-box {
  width: 45vh;
  height: 45vh;
  margin: 20px auto;
  /*background-image: url('http://placehold.it/500x500');*/
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ev-box h4, .menu-box h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 2em;
  padding-top: 40%;
}
.menu-box h4 {
  font-size: 3em;
}
.menu-box h4 {
  padding: 40% 0;
}
.ev-box p {
  text-align: center;
  font-size: 2em;
  font-family: Montserrat;
  font-weight: lighter;
}
#social a {
  text-align: center;
  padding: 10px;
  color: #333;
  font-size: 2em;
  display: block;
  font-weight: normal;
}
#about h1 {
  color: #fff;
}
#about td {
  color: #ddd;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.8em;
  width: auto;
}
#about td:nth-child(2n) {
  text-align: left;
}
#about table {
  width: 70%;
  margin: 40px 15%;
}
#contact-link {
  font-family: Montserrat;
  font-weight: 400;
  margin-top: 50px;
  font-size: 2em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#contact-info {
  width: 85%;
  margin: 40px 7.5%;
  display: block;
  font-size: 2em;
}
#email-info {
  background-image: url('/img/icons/mail.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 70px;
  font-size: 0.6em !important;
}
#ph-num {
  background-image: url('/img/icons/phone.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 70px;
}
#address {
  display: block;
  padding-top: 0;
  padding-left: 70px;
  background-image: url('/img/icons/address.svg');
  background-position: left top;
  background-size: 50px;
  background-repeat: no-repeat;
}
#about th {
  font-size: 2em;
  font-family: Montserrat;
  color: #ddd;
}
.menu-box {
  width: 45vh;
  height: 45vh;
  margin: 5vh auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#foodCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/beef_wellington.jpg");
}
#drinksCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/guiness.jpg");
}
#cocktailsCard {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/backgrounds/op/beautifulday.jpg");
}
.soc-box {
  width: 45vh;
  height: 45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ig-links {
  height: 45vh;
}
.slick-track {
  height: 45vh;
}
.spinner {
  display: none;
  margin: 100px auto;
}
#email-info {
  cursor: pointer;
}
.insta-overlay {
  display: none;
  cursor: pointer;
}
.ui-state-hover {
  background-color: #ccc !important;
}
.ui-state-highlight {
  background-color: #fffa90 !important;
}

/* ----------------------------------------------
---- Hamburger Menu animation by Jesse Couch ----
---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
#menu {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
#menu span {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu span:nth-child(even) {
  left: 50%;
}
#menu span:nth-child(odd) {
  left:0px;
}
#menu span:nth-child(1), #menu span:nth-child(2) {
  top: 0px;
}
#menu span:nth-child(3), #menu span:nth-child(4) {
  top: 16px;
}
#menu span:nth-child(5), #menu span:nth-child(6) {
  top: 32px;
}
#menu.open span:nth-child(1),#menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu.open span:nth-child(2),#menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}
#menu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}
#menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#menu.open span:nth-child(5) {
  left: 5px;
  top: 20px;
}
#menu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 20px;
}

ul#soc-links {
}
#soc-links li {
}
#soc-links img {
  width: 50px;
  margin: 0 auto;
}
.fc-scroller {
  overflow-y: auto !important;
  height: auto !important;
}
#events-pu {
  width: 90%;
  margin-left: 5%;
}

/* ----------------------------------------------
--------------- Desktop Styles ------------------
---------------------------------------------- */
@media (min-width: 968px) {

  a {
    text-decoration: none !important;
  }
  .desktop-item {
    display: block;
  }
  .desktop-item-inline {
    display: inline-block;
  }
  footer {
    background-color: #000;
  }
  .mobile-item, .mobile-item-inline {
    display: none !important;
  }
  .primary-container {
    background-color: #000;
  }
  svg {
    width: 100%;
  }
  section {
    padding: 0 !important;
  }

  /* ----------------------------------------------
  ---------------- Intro Styles -------------------
  ---------------------------------------------- */
  #intro img {
    width: 50%;
    margin-left: 25%;
  }
  #intro h2 {
    font-size: 2em;
  }
  #intro a {
    width: 13%;
  }

  /* ----------------------------------------------
  ----------- Featured Events Styles --------------
  ---------------------------------------------- */
  #events h1 {
    text-align: left;
    font-size: 2em;
    margin-left: 40px;
  }
  #featured-evs div {
    float: left;
  }
  #featured-evs div h4 {
    font-size: 2em;
    padding-top: 20%;
  }
  #featured-evs div p {
    font-size: 1em;
  }
  .ev-box {
    width: 25%;
    height: 45vh;
    margin: 0;
    /*background-image: url('http://placehold.it/500x500');*/
    background-color: #000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .ev-box h4, .menu-box h4 {
    margin-top: 10vh;
  }
  #events {
    overflow: auto;
    padding: 0;
    background-color: #000;
  }
  #events h1 {
    color: #fff;
  }
  #featured-evs {
    overflow: hidden;
  }
  #events-calendar {
    width: 60%;
    margin: 0 auto;
  }

  /* ----------------------------------------------
  ---------------- About Styles -------------------
  ---------------------------------------------- */
  #about h1 {
    text-align: left;
    font-size: 3em;
    margin-left: 40px;
  }
  #about iframe {
    float: left;
    width: 90%;
    height: 100%;
    margin-left: 10%;
  }
  #location-map {
    position: relative;
  }
  .map-overlay {
    height: 100%;
    width: 90%;
    margin-left: 10%;
  }
  #about p {
    font-size: 2em;
  }
  #about {
    padding-bottom: 40px !important;
  }
  #about {
    overflow: auto;
    padding: 20px 0;
  }
  #location-map, #hours-of-operation, #contact-info-body, #reservation {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    float: left;
  }
  #reservation {
    padding: 40px;
    height: auto;
  }
  .datepicker {
    width: 266px;
    height: 100%;
    float: left;
    margin: 0;
  }
  #reservation fieldset {
    float: left;
    margin: 0;
    height: 298.98px;
    background-color: rgb(237, 237, 237);
    padding-top: 30px;
  }
  #about {
    overflow: auto;
  }
  #time-desktop-button, #party-desktop-button {
    font-size: 1em;
    display: block;
    margin: 0;
    width: 200px;
  }
  .btn-container {
    width: 200px;
    margin: 0;
    background-color: rgb(237, 237, 237);
  }
  #reserve-btn-desktop {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    width: 95%;
    display: block;
    margin: auto;
    background-color: rgb(211, 35, 35);
    color: #fff;
  }
  div.ui-datepicker {
    margin: auto;
    font-size: 0.5em;
  }
  div.ui-datepicker-inline {
    width: 38em !important;
  }
  .ui-datepicker-header {
    font-size: 2em;
  }
  div.menu-box {
    width: 33.3%;
    float: left;
    margin: 0;
  }
  #about-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }

  /* ----------------------------------------------
  ----------------- Nav Styles --------------------
  ---------------------------------------------- */
  .offscreen-nav-wrapper {
    display: none;
  }
  .top-nav {
    display: block;
    background-color: #000;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .sticky-wrapper.is-sticky .top-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999 !important;
  }
  .top-nav ul {
    margin: 0;
  }
  .top-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 40px;
    float: right;
  }
  #contact-topnav {
    cursor: pointer;
  }
  #contact-topnav:hover {
    color: rgba(35,82,124,1);
  }

  /* ----------------------------------------------
  ----------------- Menu Styles -------------------
  ---------------------------------------------- */
  .menu-page {
    margin: 0 auto;
  }
  .selectContainer {
    width: 70%;
    background-color: rgba(238,238,238,0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 15%;
  }
  .selectContainer p {
    color: #000;
    float: left;
    margin-top: calc(10px);
    margin-right: 10px;
    margin-left: 20px;
  }
  #foodMenuSelector, #drinksMenuSelector, #cocktailsMenuSelector {
    display: block;
    width: 25%;
    min-height: 40px;
    height: 40px;
  }
  #menu {
    display: none;
  }
  #menus {
    overflow: hidden;
  }
  #menus {
    background-color: #000;
    overflow: auto;
  }
  #menus h1 {
    color: #fff;
  }
  #foodLink {
    color: #fff;
  }
  #foodLinkText, #drinksLinkText, #cocktailsLinkText {
    cursor: pointer;
  }
  #menus {
    position: relative;
  }
  #food canvas, #drinks canvas, #cocktails canvas {
    width: 70%;
    margin: 0 auto;
  }

  /* ----------------------------------------------
  ---------------- Social Styles ------------------
  ---------------------------------------------- */
  #social {
    padding: 20px;
    min-height: 0vh;
    height: auto;
    overflow-x: hidden;
  }
  #social h2 {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
  }
  .soc-box {
    float: left;
    width: 20%;
    height: 25vh;
    margin: 0;
    background-color: #000;
    position: relative;
  }
  .soc-box h4 {
    color: #fff;
    text-align: center;
    margin-top: 13vh;
    font-weight: bold;
    font-size: 2em;
  }
  #social {
    background-color: #000;
  }
  .insta-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding-top: 25px;
  }
  .insta-likes {
    padding-left: 25px;
    background-image: url("/img/icons/like.svg");
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    margin-left: 30%;
  }
  .insta-comments {
    padding-left: 25px;
    background-image: url("/img/icons/comment.svg");
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    margin-right: 30%;
  }
  .insta-caption {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 10%;
    float: left;
  }
  ul#soc-links {
    width: 50%;
    margin: 0 auto;
  }
  #soc-links li {
    width: 31%;
  }
  #soc-links img {
    width: 100%;
  }
  #ig-links {
    height: auto;
  }
}
