h1, h2, h3, h4, h5, h6, p, a {
  color: #111;
}
#menu-viewer, #menu-content {
  background-color: #fff;
}
#menu-header {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
}
#menu-header h2 {
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 4em;
}
.item-outer-container {
  padding: 10px;
  background-color: #eee;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 1.5%;
}
.item-inner-container {
  background-color: #eee;
  padding: 0;
  position: relative;
}
.item-price {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: bolder;
}
.subsection-container h4 {
  padding-left: 20px;
}
.subsection-content-container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .item-outer-container {
    width: 47.75% !important;
    margin-left: 1.5% !important;
  }
  .subsection-content-container {
    display: flex !important;
    height: auto !important;
    flex-wrap: wrap;
  }
}
