/* ----------------------------------------
------------- Global Attr -----------------
---------------------------------------- */

body {
    background:  url('/img/grain-wood-low-res.jpg');
    background-size: 100%;
}
.container-fluid {
    padding: 0;
}
.white {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.home {
    width: 60%;
    float: left;
}
a {
  color: #00B7FF;
}
.row {
    margin: 0 !important;
}
div.container-fluid {
    padding: 0;
    margin: 0;
}
div.container-fluid.navbar-header {
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Sansation Light;
}
.primary-content {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 80px 20px;
    width: 100%;
    overflow: auto;
}

    /* ----------------------------------------
    ----------- Hide Displays -----------------
    ---------------------------------------- */

    #directions, #social-media, .social-thumbnails {
        display: none;
    }

/* ----------------------------------------
----------- Hamburger Menu ----------------
---------------------------------------- */

#nav-hmenu {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px 0;
    margin-right: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-hmenu span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #bababa;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-hmenu span:nth-child(1) {
  top: 0px;
}

#nav-hmenu span:nth-child(2),#nav-hmenu span:nth-child(3) {
  top: 18px;
}

#nav-hmenu span:nth-child(4) {
  top: 36px;
}

#nav-hmenu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-hmenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-hmenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-hmenu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ----------------------------------------
------------- Navigation ------------------
---------------------------------------- */

.navbar-header, .navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.navbar {
    background: #0d0d0d;
}
ul.nav {
    font-size: 1.5em;
    padding: 1em;
    float: left;
}
ul.nav a:first-letter {
    text-transform: uppercase;
}
@media (min-width: 1095px) {
    ul.nav {
        font-size: 2em;
    }
}
.navbar, .navbar-default, .navbar-header, .row, .nav {
    border: none;
    margin: 0;
}
.logo-flap {
    display: block;
    width: 400px;
    position: absolute;
    top: 0;
    left: 5%;
    background-color: antiquewhite;
    z-index: 99999;
    box-shadow: 0px 1px 10px #000;
}
.flap-spacer {
    display: block;
    width: 400px;
    height: 100%;
    margin-left: 5%;
    float: left;
}
.logo-flap img {
    width: 100%;
    margin-top: 75px;
}

/* ----------------------------------------
--------------- Footer --------------------
---------------------------------------- */

footer {
    background: #212121;
    color: #646464;
}
.fc-center h2{
    color: #fff;
}
.info-section button {
    margin-top: 20px;
}
h1.hours {
    margin-left: 40px;
    margin-top: 20px;
}
.social-thumbnails {
    width: 70%;
    margin: 0 5%;
    padding: 0;
}
.social-thumbnails li {
    display: inline;
    margin: 0;
}
.social-thumbnails img {
    width: 33%;
    border-radius: 50%;
}
.info-section li {
    list-style-type: none;
    font-size: 1.5em;
}
#contact-dirs {
    width: 100%;
    height: 700px;
    margin-top: 40px;
}
.credit {
    font-size: 1.5em;
    text-align: center;
    padding: 5px 0;
}
.hours p:first-letter {
    text-transform: uppercase;
}
.call div {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 4em;
}


