@media (max-width: 992px) {
    .info-section h1 {
        position: relative;
        font-size: 5em;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        margin: 40px 0;
    }
    .info-section h1:before {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 100%;
        height: 3px;
        content: '\a0';
        background-color: #777;
    }
    .info-section h1:before {
        margin-left: -40%;
        text-align: center;
    }
    .info-section span {
        padding: 20px;
        background: #777;
        position: relative;
        z-index: 9999;
    }
    .info-section {
        width: 90%;
        margin: 0 auto;
    }
    .hours {
        background-color: darkgrey;
        padding: 10px 0;
        padding: 10px 0;
    }
    .hours .row {
        padding: 5px;
        text-align: center;
        font-size: 4em;
    }
    .hours .col-xs-4 {
        text-align: left;
    }
    .hours .col-xs-4 p {
        margin-left: 10%;
    }
    .hours .col-xs-8 {
        text-align: right;
    }
    .hours .col-xs-8 p{
        margin-right: 5%;
    }
    .hours hr {
        width: 90%;
        margin: 0 auto;
        border-top: 1px dashed;
        border-top-width: 2px;
    }
    footer h1, footer p {
        color: #333;
    }
    ul.nav li {
        text-align: center;
        font-size: 3em;
        line-height: 3em;
        padding: 15px !important;
    }
    .info-body{
        background-color: darkgrey;
        padding: 10%;
    }
    .info-body p {
        font-size: 3.5em;
    }
    #joinbtn {
        display: none;
    }
}