/* ----------------------------------------------
--------------- Desktop Styles ------------------
---------------------------------------------- */
@media (min-width: 1105px) {
  #reservation {
    padding: 40px;
  }
}

@media (min-width: 968px) {

  a {
    text-decoration: none !important;
  }
  .desktop-item {
    display: block;
  }
  .desktop-item-inline {
    display: inline-block;
  }
  footer {
    background-color: #000;
  }
  .mobile-item, .mobile-item-inline {
    display: none !important;
  }
  .primary-container {
    background-color: #000;
  }
  svg {
    width: 100%;
  }
  section {
    padding: 0 !important;
  }

  /* ----------------------------------------------
  ---------------- Intro Styles -------------------
  ---------------------------------------------- */
  #intro img {
    width: 50%;
    margin-left: 25%;
  }
  #intro h2 {
    font-size: 2em;
  }
  #intro a {
    width: 13%;
  }

  /* ----------------------------------------------
  ----------- Featured Events Styles --------------
  ---------------------------------------------- */
  #events h1 {
    text-align: left;
    font-size: 2em;
    margin-left: 40px;
  }
  #featured-evs div {
    float: left;
  }
  #featured-evs div h4 {
    font-size: 2em;
    padding-top: 20%;
  }
  #featured-evs div p {
    font-size: 1em;
  }
  .ev-box {
    width: 25%;
    height: 45vh;
    margin: 0;
    /*background-image: url('http://placehold.it/500x500');*/
    background-color: #000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .ev-box h4, .menu-box h4 {
    margin-top: 10vh;
  }
  #events {
    overflow: auto;
    padding: 0;
    background-color: #000;
  }
  #events h1 {
    color: #fff;
  }
  #featured-evs {
    overflow: hidden;
  }
  #events-calendar {
    width: 60%;
    margin: 0 auto;
  }

  /* ----------------------------------------------
  ---------------- About Styles -------------------
  ---------------------------------------------- */
  #location-map iframe {
    width: 100%;
    height: 96vh;
    margin: 0;
    float: left;
  }
  #location-map, .map-overlay {
    width: 70%;
    height: 96vh;
    margin: 0;
    float: left;
  }
  #contact-info {
    width: 30%;
    min-height: 96vh;
    float: left;
    background-color: rgba(240,240,240,1);
  }
  #about {
    overflow: auto;
  }
  .contact-block {
    width: 90%;
    padding: 20px;
    margin: 5% auto;
    background: #fff;
  }
  .contact-block p, .contact-block a, .contact-block h4 {
    color: #111;
  }
  .contact-block h4 {
    font-size: 1.6em;
  }
  .contact-block p {
    font-size: 1em;
  }
  .contact-block th {
    color: #111;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.6em;
  }
  .contact-block td {
    font-size: 1em !important;
    color: #111 !important;
    font-weight: 200;
  }
  #reservation-block input[type='date'], #reservation-block select {
    width: 50%;
    float: left;
    border: none;
  }
  #reservation-block input {
    width: 100%;
    min-height: 30px;
    border: none;
  }
  #reservation-block button[type='submit'] {
    width: 100%;
    color: #fff;
    background-color: rgb(211, 35, 35);
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 5px;
  }

  /* ----------------------------------------------
  ----------------- Nav Styles --------------------
  ---------------------------------------------- */
  .offscreen-nav-wrapper {
    display: none;
  }
  .top-nav {
    display: block;
    background-color: #000;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .sticky-wrapper.is-sticky .top-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999 !important;
  }
  .top-nav ul {
    margin: 0;
  }
  .top-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 40px;
    float: right;
  }
  #contact-topnav {
    cursor: pointer;
  }
  #contact-topnav:hover {
    color: rgba(35,82,124,1);
  }

  /* ----------------------------------------------
  ----------------- Menu Styles -------------------
  ---------------------------------------------- */
  .menu-page {
    margin: 0 auto;
  }
  .selectContainer {
    width: 70%;
    background-color: rgba(238,238,238,0.8);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 15%;
  }
  .selectContainer p {
    color: #000;
    float: left;
    margin-top: calc(10px);
    margin-right: 10px;
    margin-left: 20px;
  }
  #foodMenuSelector, #drinksMenuSelector, #cocktailsMenuSelector {
    display: block;
    width: 25%;
    min-height: 40px;
    height: 40px;
  }
  #menu {
    display: none;
  }
  #menus {
    overflow: hidden;
  }
  #menus {
    background-color: #000;
    overflow: auto;
  }
  #menus h1 {
    color: #fff;
  }
  #foodLink {
    color: #fff;
  }
  #foodLinkText, #drinksLinkText, #cocktailsLinkText {
    cursor: pointer;
  }
  #menus {
    position: relative;
  }
  #food canvas, #drinks canvas, #cocktails canvas {
    width: 70%;
    margin: 0 auto;
  }

  /* ----------------------------------------------
  ---------------- Social Styles ------------------
  ---------------------------------------------- */
  #social {
    padding: 20px;
    min-height: 0vh;
    height: auto;
    overflow-x: hidden;
  }
  #social h2 {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
  }
  .soc-box {
    float: left;
    width: 20%;
    height: 25vh;
    margin: 0;
    background-color: #000;
    position: relative;
  }
  .soc-box h4 {
    color: #fff;
    text-align: center;
    margin-top: 13vh;
    font-weight: bold;
    font-size: 2em;
  }
  #social {
    background-color: #000;
  }
  .insta-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding-top: 25px;
  }
  .insta-likes {
    padding-left: 25px;
    background-image: url("/img/icons/like.svg");
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    margin-left: 30%;
  }
  .insta-comments {
    padding-left: 25px;
    background-image: url("/img/icons/comment.svg");
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    margin-right: 30%;
  }
  .insta-caption {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 10%;
    float: left;
  }
  ul#soc-links {
    width: 50%;
    margin: 0 auto;
  }
  #soc-links li {
    width: 31%;
  }
  #soc-links img {
    width: 100%;
  }
  #ig-links {
    height: auto;
  }
}
